# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Entornos virtuales
.venv/
venv/
env/

# Odoo
*.pyc
*.swp
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos locales de configuración (nunca commitear credenciales)
*.conf
.env
